In [16]:
import pandas as pd
import nltk
import string
import re

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\siddharth\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\siddharth\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [17]:

file_path = "quora_questions.csv"
data_set = pd.read_csv(file_path)
data_set['text_length'] = data_set['Question'].apply(lambda x: len(x.split()))
data_set

                                                 Question  text_length
0       What is the step by step guide to invest in sh...           14
1       What is the story of Kohinoor (Koh-i-Noor) Dia...            8
2       How can I increase the speed of my internet co...           14
3       Why am I mentally very lonely? How can I solve...           11
4       Which one dissolve in water quikly sugar, salt...           13
...                                                   ...          ...
404284  How many keywords are there in the Racket prog...           14
404285          Do you believe there is life after death?            8
404286                                  What is one coin?            4
404287  What is the approx annual cost of living while...           17
404288              What is like to have sex with cousin?            8

[404289 rows x 2 columns]

In [18]:
data_set.describe()

         text_length
count  404289.000000
mean       10.942234
std         5.428808
min         1.000000
25%         7.000000
50%        10.000000
75%        13.000000
max       125.000000

In [4]:
#Removing repeated questions
data_set = data_set.drop_duplicates(subset='Question')
data_set.shape

(290456, 2)

In [6]:
data_set['text_length'] = data_set['Question'].apply(lambda x: len(x.split()))
data_set = data_set[data_set['text_length'] > 15]
data_set.shape
data_set.head()

                                             Question  text_length
5   Astrology: I am a Capricorn Sun Cap moon and c...           16
14  What are the laws to change your status from a...           29
24  What does it mean that every time I look at th...           17
31  What are some special cares for someone with a...           16
33  Does the United States government still blackl...           17

In [7]:
data_set.describe()

        text_length
count  47456.000000
mean      21.203283
std        5.620724
min       16.000000
25%       17.000000
50%       20.000000
75%       24.000000
max      125.000000

In [8]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\siddharth\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\siddharth\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
def clean_text(text):
    return re.sub(r'[^a-zA-Z\s]', '', text).lower()

stop_words = set(stopwords.words('english'))
def stopwords_removal(text):
    words = text.split()
    filtered_words = []
    for word in words:
        if word not in stop_words:
            filtered_words.append(word)
    return ' '.join(filtered_words)

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    words = text.split()
    lemmatized_words = []
    for word in words:
        lemmatized_words.append(lemmatizer.lemmatize(word))
    return ' '.join(lemmatized_words)

data_set['Cleaned_Questions'] = data_set['Question']. apply(clean_text)
data_set['Cleaned_Questions'] = data_set['Cleaned_Questions']. apply(stopwords_removal)
data_set['Cleaned_Questions'] = data_set['Cleaned_Questions'].apply(lemmatize_words)
data_set['text_length_cleaned'] = data_set['Cleaned_Questions'].apply(lambda x: len(x.split()))
cleaned_data_set = data_set.drop(['text_length', 'Question'], axis=1)

cleaned_data_set.head()

                                    Cleaned_Questions  text_length_cleaned
5   astrology capricorn sun cap moon cap risingwha...                    8
14  law change status student visa green card u co...                   12
24                  mean every time look clock number                    6
31         special care someone nose get stuffy night                    7
33  united state government still blacklist employ...                   12

In [12]:
cleaned_data_set.to_csv('quora_dataset_filtered_sid.csv', index=False)