In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./dataset/quora_questions.csv')

## perform The Following
 1.spelling correction 

 2.standard case, 
 
 3.perform removal of non english words like corss language characters

In [3]:
df['doclen']=df['Question'].apply(lambda x: len(x.split()))

In [4]:
df.sort_values(by='doclen',ascending=False,inplace=True)

In [5]:
df.describe()

              doclen
count  404289.000000
mean       10.942234
std         5.428808
min         1.000000
25%         7.000000
50%        10.000000
75%        13.000000
max       125.000000

In [13]:
filter1=df['doclen']>=20

In [20]:
df[filter1].head(10)

                                                 Question  doclen
35101   Like everyone else (here in U.S), I work with ...     125
401274  Hello dear's people. i have a fictief research...      80
33209   A lady buys goods worth 200 bucks from a shop ...      77
355197  I am turning 25 in about a month and am curren...      73
402355  I'm a 34 years old married to a woman. I had a...      73
331182  My employer has told me that we can not accept...      72
20875   I have been using my girlfriend for a sexual r...      71
86145   You have 100 coins laying flat on a table, eac...      68
325314  I broke up with him. I love him so much but we...      68
147457  I broke up with him. I love him so much but we...      68

In [23]:
df[filter1].to_csv('./dataset/quora_questions_filtered.csv',index=False)